@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
.m-nbar {
    background-color: blueviolet;
    font-family: "Alata", sans-serif;
}
body {
    /* background-color: rgb(237, 242, 244); */
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    /* background-color: rgb(194, 187, 240); */
    min-width: 600px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.carousel-item img {
    height: 550px !important;
    position: center;
}
.icon {
    font-family: lato;
    color: grey;
    font-size: 15px;
}
/* .card-text {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */

.btn {
    background-color: blueviolet;
    color: white;
    position: relative;
    /* margin-top: 180px; */
}
.site-footer {
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
    background-color: #262626;
    color: white;
    margin-top: 1%;
    float: inline-end;
}
.site-footer a {
    color: blueviolet;
}

.site-footer a:hover {
    color: white;
    text-decoration: none;
}

.image_container {
    background-image: url("/images/about_us.jpg");
    background-size: cover;
    height: 300%;
    width: 100%;
    text-align: center;
}

.image_container .paragraph {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
}
.single-title {
    /* font-family: "Alatsi", sans-serif; */
    font-family: "Lora", serif;
    font-size: 60px;
}
.single-brief {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}
.single-description {
    font-family: "Libre Baskerville", serif;
}

.bio img {
    border: 4px solid #fff;
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
    max-width: 120px;
    max-height: 100px;
    margin-top: -4em;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
}

.bio {
    margin-top: 30px;
    /* padding-left:50px; */
    /* padding: 15px; */
    background: #fff;
    border: 2px solid #e6e6e6;
    font-weight: 400;
    width: 60%;
    height: 80%;
}

.bio h2 {
    font-size: 20px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    /* margin:0 10px; */
}
#horizontal {
    margin: 20px;
}
.all-img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
a {
    text-decoration: none;
}
